<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joy.liu.com.practicedraw1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="joy.liu.com.hencoderPractice.practice1.MainActivity1"></activity>
        <activity android:name="joy.liu.com.hencoderPractice.practice2.MainActivity2"></activity>
        <activity android:name="joy.liu.com.hencoderPractice.practice3.MainActivity3"></activity>
        <activity android:name="joy.liu.com.hencoderPractice.practice4.MainActivity4"></activity>
        <activity android:name="joy.liu.com.hencoderPractice.practice5.MainActivity5"></activity>
        <activity android:name="joy.liu.com.hencoderPractice.practice6.MainActivity6">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>